body, html {
  height: 100%;
}

ol, ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: 2.5rem;
  font-weight: bolder;
}

.btn, li {
  margin-top: 0.5rem;
}

ol {
      font-family: cursive;
}

ul {
  li {
       list-style-type: none;
       text-decoration: line-through;
  }
}

h2 {
  text-align: center;
}

.btn {
  text-transform: uppercase;
  font-weight: bolder;
  float:right;
}


.tasks {
width: 100%;
}

.wrapper {
  height: 4rem;
  width: 100%;
  border-top: 1px solid black;
}

.container-fluid {
  padding: 0;
  height: 100%;
  background-image: url("./images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
}

#root {
  padding: 2rem 4rem;
}

.input {
  input {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 18rem;
  }
  button {
    float: none;
    margin-top: 0.5em;
    width: 18rem;
  }
}


@media screen and (max-width: 1000px) and (min-width: 700px) {
  font-size: 8px;
}
